$bg-color:#092B40;
$mian-nav:#2A9D8F;
$hover-nav:#008891;
$text-color:white;
$orange:#D96F32;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
/* $bg-color:#1b262c;
$mian-nav:#3282b8;
$hover-nav:#0f4c75;
$text-color:#bbe1fa; */
html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  color: $text-color;
}

body
{
  background-color: $bg-color;
  font-family: "Ubuntu", sans-serif;
  /* background-image: url(bg.png);
    background-size: cover;
    background-attachment: fixed; */
}


.navbar
{
  background-color: transparent !important;
  .navbar-toggler-icon
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,88,122, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-link 
  {
    color:#93a2ac !important;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .nav-link:hover,.nav-link:active ,.active
  {
    color: white !important;
    text-shadow: 0 0 5px #fff;
  }
}

#home
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    text-align: center;
    overflow: hidden;
    h4
    {
      animation: h4Move 1.5s;
    }
    h5
      {
            animation: h5Move 2.3s ;
            color: $orange
        }
    h1 
        {
            animation: h1Move 2.3s;
            font-size: xxx-large;
            font-size: -webkit-xxx-large;
        }
}
@keyframes h5Move {
    0%{
        transform: translate(0px, 75px);
        opacity: 0;
    }

    100%{
        transform: translate(0px, 0px);
        opacity: 1px;
    }
    
}
@keyframes h1Move {
    0%{
        transform: translate(-100px, 0);
        opacity: 0;
    }

    100%{
        transform: translate(0px, 0px);
        opacity: 1px;
    }
    
}
@keyframes h4Move {
  0%{
    transform: translate(0px, -50px);
      opacity: 0;
  }

  100%{
    transform: translate(0px, 0px);
      opacity: 1px;
  }
  
}


/*Aboutme*/

#about,#skills
{
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2rem 0;
        
      img 
      {
        height: 400px;
      }
      
      article 
      {
        line-height: 2rem;
        padding: 2rem;
        font-size: larger;

        h3 
        { text-transform: capitalize;
          padding-left: 10px;
          margin-bottom: 2rem;
          font-size: xx-large;
          border-left: 0px solid $orange;
          transition: all 0.5s ease-in-out;
        }

        h3:hover 
        {
          
          border-left: 10px solid $orange;
        }

        b 
        {
          text-transform: capitalize;
          color: $orange;
        }
        
      }
}


#skills article {
        
  ul {
        list-style: none;

        li i
        {
            font-size: 26px;
            margin-right: 15px;
        }
      }
}



#portfolio,#playground
{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3{
    padding-top: 5%;
  }

  #projectsContainer,#playContainer
  {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
    .project::before , .playProject::before 
    {
      height: 100%;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00000000;
      
      width: 100%;
      transition: all 0.3s;
    }

    .playProject:first-of-type
    {
      background: url('./screens/toDoPNG.PNG') center / cover no-repeat;
    }

    .playProject:nth-child(2)
    {
      background: url('./screens/loading.PNG') center / cover no-repeat;
    }

    .project:first-of-type
    {
      background: url('./screens/Ing2.PNG') center / cover no-repeat;
      
      .Data
      {
        transform: translateY(calc(82px + 4em));
      }
    
    }

    .project:nth-child(2)
    {
      background: url('./screens/D-rays2.PNG') center / cover no-repeat;

      .Data 
      {
        transform: translateY(calc(180px + 4em));
      }
    }

    .project:nth-child(3)
    {
      background: url('./screens/color1.PNG') center / cover no-repeat;

      .Data 
      {
        transform: translateY(calc(180px + 4em));
      }
    
    }

    .project:hover,.playProject:hover
    {
      cursor: pointer;
    }
    .project:hover::before  ,.playProject:hover::before
    {
      background: #0000007a;
    }

    .project:hover .Data , .playProject:hover .Data
    
    {
      transform: translateY(0)
    }


   
    

    .project ,.playProject
    {
      background-color: #fff;
      min-height: 540px;
      position: relative;
      overflow: hidden;
      width: 50%;
      min-width: 360px;
      max-width: 450px;
      margin: 2em;
      box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 20%);

      .title 
      {
        margin: 1rem;

        span 
        {
          background: #092b40;
          padding: 0.5em;
        }
      }

      .Data
      {
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: transform 0.3s;
        transform: translateY(calc(150px + 4em));


        .content 
        {
          padding:0 10px;
        

          span{   
             box-shadow: 0px 0px 15px rgb(0 0 0 / 30%), 1px 4px 10px rgb(0 0 0 / 20%);
            padding: 9px 20px;
            margin-right: 0.8em;
            border-radius: 10rem;
            text-transform: uppercase;
          }
        }
      }
      
  }
  }


    
  }



  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    z-index: 100000;
    animation: fadeOut 0.3s;
    display: none;

    h4 {color: $orange;
      line-height: 2em;
      margin-top: 1.5em;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    }
    .loadingContainer
    {background: white;
     border-radius: 7px;
     width: 125px;
     height: 125px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform : translate(-50%,-50%);
     box-shadow: 0 0 4px white;
     display: flex;
     align-items: center;
     justify-content: center;
  
     .loader
     {
        background: $bg-color;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 3px;
        box-shadow: 0 0 2px $bg-color;
        animation: load 1s infinite ease;
     }
     .loader:nth-of-type(2)
     {	opacity: 0.7;
       animation-delay: 0.2s}
     .loader:nth-of-type(3)
     {	opacity: 0.3;
       animation-delay: 0.4s}
     }
    
    }
   
     @keyframes load
     {
       0%,100%
       {}
       
       50%
       {transform: translateY(-20px);}
  
     }
             
     

     @keyframes fadeOut {

      from {display: block;
        opacity: 1;
      }
      to {
        
        opacity: 0;
        display: none;
      }
     }
  
@media(max-width:960px)
{
  #about,#skills
  {
    display: block;
    grid-template-columns:none;
  }
  img {
    width: 100%;
  }

  #portfolio #projectsContainer .project .Data {
    
    transform: translateY(calc(215px + 4em));
}

}


.button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
  transition: transform 0.3s;
  &::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
  }
  &:hover {
    color: white;
    text-decoration: none;
    transform: translate(0px, -5px);
    &::after {
      transform: translate(5px, -50%);
      opacity: 1;
    }
  }
}

#contact 
{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem; 

  div {margin: 4rem 0;}

  .contact-links a
  {
    text-decoration: none;
    margin: 20px;
    font-size: larger;
    font-weight: bold;
    color: white;
    transition: all 0.3s;

    i 
    {
      margin: 0.5rem
    }

    &:hover
    {
      text-shadow: 0 0 5px #fff;
    }
  }
}